*.pyc
*.o
*.c
*.cpp
*~
*.so
*.orig
*.npz
*.log
*.npz
*.pyd
*.pdf
.cache
test.pyx
PySPH.egg-info/
build/
dist/
.tox/
*.out
*_output
pysph/examples/test_runs
pysph/examples/hydrostatic_tank_mixing_tests
pysph/examples/hydrostatic_tank_mixing2_tests
pysph/examples/rayleigh_taylor_temperature_tests
pysph_env/
ZOLTAN